

<div class="container" *ngIf="products">
  <div class="panel panel-primary" *ngFor="let product of products">
    <div class="panel-heading">
      <a style="color: white;" routerLink="/products/detail/{{product.Id}}">{{product.Name}}</a>
      <button class="btn btn-sm" *ngIf="!checkCart(product.Id)" (click)="addToCart(product)">Add to Cart</button>
      <button class="btn btn-sm" *ngIf="checkCart(product.Id)" (click)="viewCart()">View Cart</button>
    </div>
    <div class="panel-body">
      <div class="col-sm-9">
        Vendor: {{product.Vendor.Name}}, Part Number: {{product.VendorPartNumber}}, Price: {{product.Price | currency:'USD':'true'}} {{product.Unit}}
      </div>
      <div class="col-sm-3">
        <img src="{{product.Photopath}}" class="img-thumbnail" width="100" height="100" />
      </div>
    </div>
  </div>
</div>
