<p>
  purchaserequest-edit works!
</p>

<div class="container">
  <form *ngIf="request">
    <div class="form-group">
      <label class="form-control-label col-sm-2" for="edit-id">Id</label>
      <div class="col-sm-10">
        <label class="form-control" id="edit-id">{{request.Id}}</label>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-2" for="edit-user">Username</label>
      <div class="col-sm-10">
        <label class="form-control" id="edit-user">{{request.User.UserName}}</label>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-2" for="edit-description">Description</label>
      <div class="col-sm-10">
        <input class="form-control" id="edit-description" type="text" name="Description" [(ngModel)]="request.Description" />
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-2" for="edit-justification">Justification</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="edit-justification" rows="3" style="resize: none;" name="Justification" [(ngModel)]="request.Justification"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-2" for="edit-dateneeded">Date Needed</label>
      <div class="col-sm-10">
        <input class="form-control" id="edit-dateneeded" type="text" name="DateNeeded" [(ngModel)]="request.DateNeeded" />
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-2" for="edit-status">Status</label>
      <div class="col-sm-10">
        <select class="form-control" name="Status" [(ngModel)]="request.StatusId">
          <option *ngFor="let s of status" value="{{s.Id}}">{{s.Description}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-2" for="edit-total">Total</label>
      <div class="col-sm-10">
        <label class="form-control" id="edit-total">{{request.Total | currency:'USD':true}}</label>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-2" for="edit-datesubmitted">Date Submitted</label>
      <div class="col-sm-10">
        <input class="form-control" id="edit-datesubmitted" type="text" name="DateSubmitted" [(ngModel)]="request.SubmittedDate" />
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-2" for="edit-rejection">Rejection Reason</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="edit-rejection" rows="3" style="resize: none;" name="Rejection" [(ngModel)]="request.ReasonForRejection"></textarea>
      </div>
    </div>
  </form>
</div>
