<p>
  product-list works!
</p>

<div class="container-fluid">
  <table class="table table-bordered table-striped" *ngIf="products">
    <thead>
      <tr>
        <td>Name</td>
        <td>Vendor</td>
        <td>Unit</td>
        <td>Price</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.Name}}</td>
        <td>{{product.Vendor.Code}}</td>
        <td>{{product.Unit}}</td>
        <td>{{product.Price | currency:'USD':true}}</td>
        <td>
          <a routerLink="detail/{{product.Id}}">Detail</a>
          |
          <a routerLink="edit/{{product.Id}}">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
