<p *ngIf="sysService.currentUser">
  Welcome {{sysService.currentUser.UserName}}!
</p>
<p *ngIf="!sysService.currentUser">
  Please log in to use the cart.
</p>

<p *ngIf="cartService.currentRequest">
  You have a cart!
</p>


<div class="container">
  <table *ngIf="cartService.currentRequest">
    <tr>
      <th>Id</th>
      <td>{{cartService.currentRequest.Id}}</td>
    </tr>
    <tr>
      <th>User</th>
      <td>{{cartService.currentRequest.User.UserName}}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{cartService.currentRequest.Description}}</td>
    </tr>
    <tr>
      <th>Justification</th>
      <td>{{cartService.currentRequest.Justification}}</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>{{cartService.currentRequest.Total | currency:'USD':true}}</td>
    </tr>
  </table>
</div>

<div class="container">
  <span *ngIf="cartService.currentItems && !cartService.currentItems.length">No items in cart.</span>
  <table class="table table-bordered table-striped" *ngIf="cartService.currentItems &&cartService.currentItems.length">
    <thead>
      <tr>
        <td>Product</td>
        <td>Vendor</td>
        <td>Unit</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Subtotal</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartService.currentItems">
        <td>{{item.Product.Name}}</td>
        <td>{{item.Product.Vendor.Code}}</td>
        <td>{{item.Product.Unit}}</td>
        <td>{{item.Product.Price | currency:'USD':true}}</td>
        <td>
          <input type="number" name="Quantity" min="1" [(ngModel)]="item.Quantity" />
          <button class="btn btn-sm" (click)="update()">Update</button>
          <button class="btn btn-sm btn-danger" (click)="delete(item.Id)">Remove</button>
        </td>
        <td>{{item.Quantity * item.Product.Price | currency:'USD':true}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn" (click)="submit()">Submit</button>
</div>

