<p>
  review works!
</p>

<div class="container">
  <table class="table table-bordered table-striped" *ngIf="reviews">
    <thead>
      <tr>
        <td>Status</td>
        <td>User</td>
        <td>Date Needed</td>
        <td>Total</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{review.Status.Description}}</td>
        <td>{{review.User.UserName}}</td>
        <td>{{review.DateNeeded |date:'shortDate'}}</td>
        <td>{{review.Total | currency:'USD':true}}</td>
        <td><a routerLink="/review/{{review.Id}}">Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
