<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PRS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/browse">Browse</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" routerLink="/cart">Shopping Cart ({{cartService.total |
                        currency:'USD':true}})</a></li>

                <li class="nav-item"><a class="nav-link" routerLink="/review"
                        *ngIf="systemService.loggedIn && systemService.isReviewer">Review</a></li>

                <li class="dropdown" *ngIf="systemService.loggedIn && systemService.isAdmin">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/users">Users</a></li>
                        <li><a class="dropdown-item" routerLink="/vendors">Vendors</a></li>
                        <li><a class="dropdown-item" routerLink="/products">Products</a></li>
                        <li><a class="dropdown-item" routerLink="/requests">Purchase Requests</a></li>
                        <li><a class="dropdown-item" routerLink="/lineitems">Line Items</a></li>
                        <li><a class="dropdown-item" routerLink="/status">Status</a></li>
                    </ul>
                </li>
                <li *ngIf="!systemService.loggedIn">
                    <a class="nav-link" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li class="dropdown" *ngIf="systemService.loggedIn">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span> {{systemService.getLoggedInUserName()}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/login">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>