<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PRS</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/browse">Browse</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/cart">Shopping Cart</a></li>

        <li><a routerLink="/review" *ngIf="systemService.loggedIn && systemService.currentUser.IsReviewer">Review</a></li>

        <li class="dropdown" *ngIf="systemService.loggedIn && systemService.currentUser.IsAdmin">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Admin
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/users">Users</a></li>
            <li><a routerLink="/vendors">Vendors</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/requests">Purchase Requests</a></li>
            <li><a routerLink="/lineitems">Line Items</a></li>
          </ul>
        </li>

        <li *ngIf="!systemService.loggedIn">
          <a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li class="dropdown" *ngIf="systemService.loggedIn">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"></span> {{systemService.currentUser.UserName}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/login">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
